body {
  background-image: url("shapelined-_JBKdviweXI-unsplash.jpg");
  /* background-color: #f8f9fa; */
  color: #333;

  background-size:cover


}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

p {
  line-height: 1.6;
}

ul {
  padding-left: 20px;
}

.section-title {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.contact-info {
  margin-top: 20px;
}

.contact-info p {
  margin-bottom: 5px;
}

.header-contact-info {
  text-align: right;
}

.header-contact-info p {
  margin-bottom: 5px;
  display: block;
  margin-left: 10px;
  text-align: center;
}

.navbar {
  margin-bottom: 30px;
  margin-right: 400px;
  font-weight: 700;
}

footer {
  margin-top: 30px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
  text-align: center;
}