/* body {
background-image: url(https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&w=800);
 background-repeat: no-repeat;
 background-size: 100%;
  */

  /* .container{
    display: flex;
    flex-direction: column;
    height:100vh;
  }
  header {
    height: 50px;
    background-color: #ccc;
  }
  
  .sidebar {
    width: 200px;
    background-color: #eee;
  }
  
  .main {
    flex: 1;
    background-color: #fff;
  } */